.trelloLogin {
    height: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.trelloLoginForm__logo {
    height: 48px;
}

.trelloLoginForm {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 50px;
    width: 400px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.048);
}

.trelloLoginFormContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.trelloLoginForm > h1 {
    font-size: 16px;
    color: #5e6c84;
    font-family: Segoe UI;
    margin-bottom: 25px;
}

.trelloLoginForm__email {
    padding: 12px;
    margin: 7px;
    background-color: #FAFBFC;
    border: 1px solid #DFE1E6;
    border-radius: 5px;
    outline: #5FA3FC;
    width: 80%;
    transition: 0.5s;
}

.trelloLoginForm__email:focus {
    background-color: #fff;
}

.trelloLoginForm__button {
    width: 85%;
    padding: 10px;
    color: white;
    background-color: #5AAC44;
    border: none;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.trelloLoginForm > a > p {
    color: #007CC5;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    font-family: Segoe UI;
}

a {
    text-decoration: none;
}

/* The below code is for home page responsiveness */

@media screen and (max-width:670px) {
    .makeStyles-homePageSidebar-3 {
        display: none !important;
    }

    .makeStyles-mainActionArea-2 {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
  }